:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  color: var(--slate);
  background: #ffffff;
}

/* p, a - 400, h1 - 700 */
/* pseudoclass it is why because in html it is not exist but in css is. */

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* max-width з необхідними внутрішніми відступами по боках, щоб лейаут коректно центрувався на широких вьюпортах. */
.container {
  max-width: 1158px;
  /* 1158-1128=30/2=15px paddings */
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  font-family: var(--second-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 115px;

  margin-right: 76px;
  color: #2e2f42;
  /* with preprocessors old mode style*/
  /* .colorine {
    color: #4d5ae5;
  } */
}

/* without preprocessors */
.header-logo > .colorine {
  color: #4d5ae5;
}

.header-menu-list {
  display: flex;
  width: 261px;
  gap: 40px;
  /* justify-content: space-between; */
}

.header-menu-underline {
}

.header-menu-item {
  color: hsl(237, 18%, 22%);
}

.header-menu-link {
  padding: 24px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;

}
.current_page {

  color: #2e2f42;
  position: relative;
}

.current_page::after {
  content: "";
  width: 0%;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #404bbf;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* hover - keyboard focus */
/* focus - mouse focus */
/* active - button clicked */
.header-menu-link:hover::after,
.header-menu-link:focus::after,
.header-menu-link:active::after,
.header-menu-link::after {
  width: 100%;
}

.header-menu-link:is(:active:hover, :focus) {
  color: #404bbf;
}

/* .header-menu-link:is(:hover, :focus) > .header-menu-underline {
  padding-bottom: 20px;
} */

.header-contacts {
  /* перемещаем в крайне правое положение то есть максимальное
  место для левого маргина. */
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-item {
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-contacts-link:hover, .header-contacts-link:focus {
    color: #31d0aa;
} */

.header-contacts-link:is(:hover, :focus) {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-basic {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

/* explanation text under image in section portfolio for example */
.portfolio-undertext {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  gap: 8px;
}

.team-undertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
}

.section-subtitle-basic {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.section-description-basic {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.hero {
  background: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  max-width: 496px;
  border: none;
}

.hero-container {
  display: flex;
  padding: 188px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-blue:hover,
.hero-btn-blue:focus {
  background-color: #404bbf;
  /* border: 1px solid #2939e5; */
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  margin-top: 120px;
  margin-bottom: 96px;
  display: flex;
  gap: 24px;
  /* justify-content: center;
  align-items: center; */
}

.features-item {
  max-width: calc((100% - 3 * 24px) / 4);
}

.features-icon-container {
  position: relative;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-icon {
  position: absolute;
  /* top, left, right, bottom drop to 0 positions */
  inset: 0;
  /* put on center top, left, right, bottom */
  margin: auto;
  /* center top behaive */
  /* margin: 0 auto; */
  width: 64px;
  height: 64px;
  fill: #2e2f42;
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feature-description {
  text-align: left;
}

.team-cards {
  background-image: linear-gradient(#f4f4fd, #f4f4fd);
  padding: 120px 0px;
}

.team-cards-title {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  padding-bottom: 72px;
}

.team-cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-cards-item {
  border-radius: 0 0 4px 4px;
  /* padding: 0px 0px 32px; */
  width: calc((100% - 3 * 24px) / 4);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-image: linear-gradient(white, white);

}

/* Це зробить зображення «гумовими», тобто вони підлаштовуватимуться під ширину батьківського елемента */
.team-cards-img {
  object-fit: cover;
  width: 264px;
  height: 260px;
}

.team-cards-subtitle {
  text-align: center;
}

.team-cards-description {
  text-align: center;
}

.row-social {
  display: flex;
}

.social-icons {
}

.social-icons-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icons:not(:last-child) {
  margin-right: 24px;
}

.team-icon {
  fill: #f4f4fd;
}

.team-cards > .social-icons-link:hover,
.team-cards > .social-icons-link:focus {
  background-color: #404bbf;
}

.footer > .social-icons-link:hover,
.footer > .social-icons-link:focus {
  background-color: #31d0aa;

}

.portfolio {
  padding: 120px 0px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  padding-bottom: 72px;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  justify-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* raw-gap - между верзними и нижними елементам */
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  max-width: calc((100% - 2 * 24px) / 3);
}

.portfolio-img {
  /* width: 100%; */
  width: 360px;
  height: 300px;
}

.portfolio-img-cover {
  position: relative;
  overflow: hidden;
}
.appearing-text-portfolio {
  position: absolute;
  /* put on image */
  top: 0;
  left: 0;
  /* put on image on it full size*/
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  letter-spacing: 0.02em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.portfolio-item:hover .appearing-text-portfolio {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-item:hover .portfolio-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
}

.portfolio-description {
}

.footer-menu {
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-menu {
  display: flex;
  /* if no flex-wrap then it isn't multilines */
  align-items: baseline;
  gap: 120px;
}

.footer-title {
  color: var(--cloud);
}

.footer-colored-title {
  color: var(--iris);
}

.footer-subtitle {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: left;

  color: var(--cloud);
  /* color: #f4f4fd; */
  font-family: Roboto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.footer-common-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 21.36px;
}

.footer-social-section {
  display: flex;

  /* margin-top: 100px;
  margin-left: 120px;
  margin-bottom: 132px; */

  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .social-icons {
    margin-right: 16px;
  }
}

.footer-social-text {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
